body{
    background-color: rgb(190, 190, 190);
    background-image: url(../img/fundo\ site.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;
}

section{
    position: -webkit- sticky;
    position:sticky;
}

header{
    background-color: rgba(255, 255, 255, 0.573);
    padding: 3%;
    display: flex;
}

.logo{
    background-color: rgba(255, 255, 255, 0);
    width: 20%;
}

.imglogo{
    width: 100%;
}

.menu{
    background-color: rgba(78, 194, 209, 0);
    margin-left: auto;
    display:  inline-block;
    width: 50%;
    margin-top: auto;
}

.navigation{
    display: flex;
}

.home{
    display: inline-block;
    text-align: center;
    padding: 2%;
    font-size: 120%;
}

main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

section{
    background-color: rgba(255, 255, 255, 0.63);
    padding: 4%;
}

footer{
    background-color: rgb(31, 30, 27);
    padding: 3%;
}

.cabecalho{
    padding: 3%;
}

.rodape{
    padding: 3%;
    margin-top: auto;
    margin-bottom: 0%;
    text-align: center;
    color: #7a7a7af8;
}

h1,h2{
    line-height: 3;
}

p{
    line-height: 1.5;
}

ul,li{
    line-height: 1.5;
}

.paragrafo{
    padding: 1.5%;
}

.persomasc{
    background-color: rgba(6, 6, 6, 0.384);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.persomasc li{
    display: inline-block;
    margin: 1.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.perssonagem{
    width: 100%;
}

.fototext{
    position: relative;
}

.perfil{
    float:inline-start;
    width: 25%;
    border-radius: 10%;
    padding: 1%;
}

.nome{
    position:absolute;
    bottom: -14.7em;
    left: 1em;
    font-size: 100%;
    color: #ffffff;
    padding: 0.2%;
    border: #ffffff;
    border-style: solid;
    background-color: #4ba543;
}

.centerimg{
    text-align: center;
    padding: 2%;
    width: 100%;
}

.imgcontato{
    width: 50%;
}

.tabelah1{
    border-collapse: collapse;
    border: 1pt rgb(255, 255, 255);
    text-align: center;
    background-color: #078810;
    color: rgb(255, 255, 255);
    border-style: solid;
    padding: 2%;
    font-size: 1em;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.tabela{
    width: 100%;
    height: 100%;
    background-color: #00000036;
    text-align: left;
    border-style: solid;
    font-size: 1em;
}

.tabelap{
    padding: 2%;
    border-collapse: collapse;
    border: 1pt #ffffff;
    border-style:solid;
    list-style: none;
    font-size: 1em;
    flex-wrap: wrap;
}

.subtitulo{
    padding: 1.5%;
    font-size: 150%;
    font-weight: 500;
}

.thgalinhas{
    border: 1pt #ffffff;
   text-align: center;
   background-color: #078810;
   color: #ffffff;
   border-style: solid;
   border-collapse: collapse;
   font-size: 1.2em;
   width: 10%;
   padding: 1.5%;
   vertical-align: middle;
}

.tabelagalinhas{
    width: 80%;
    border-style: solid;
    background-color: #00000036;
    margin: auto;
}

.tdgalinhas{
    border: 1pt #ffffff;
    border-collapse: collapse;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
}

.galinha{
    width: 30%;
    padding: 2%;
}

.imggaleria{
    width: 90%;
}

.galeria{
    display: flex;
    flex-flow: row wrap;
}

.coluna3{
    width: 50%;
}

.gaelriastyle{
    border: 1% solid #ffffff;
}

.legenda{
    font-size: 0.8em;
    text-align: center;
    color: #292929;
}

.audio{
    margin-left: auto;
    margin-right: auto;
}
    
a:hover{
    background-color: rgb(253, 253, 253);
}

img.floatimg{
    float: left;
    width:8%;
    margin-right: 2%;
    
}
.birdo {
    width: 8%;
    position: relative;
    margin-top: -30%;
    animation: mymove 10s infinite;
    animation-delay: 2s;
    float: right;
}

.contatoimg{
    width: 15%;
}

.comprar{
   width: 80%;
   height: auto;
}
      
@keyframes mymove {
 from {right: -10%;}
  to {right: 110%;}

}

.galinheiro{
    text-align: center;
}

.galinheiroimg{
    width: 10%;
}
form{
    padding: 2%;
    background-color: #0788101a;
    color: #ffffff;
}
input[type=text],select,textarea{
    width: 100%;
    margin: 1%;
    display: inline-block;
    padding: 0.5%;
    border: none;
    border-radius: 0.5%;
    font-size: 100%;
}
textarea{
    height: 100px;
}
input[type=text]{
    width: 90%;
}

@media only screen and (max-width: 550px){
    img.floatimg{
        display: none;
    }
    .navigation{
        display: flex;
    }
    .home{
        display: grid;
        text-align:right
    }
    .imglogo{
        width: 200%;
    }

}

@media only screen and (max-width: 1110px){
    .nome{
        bottom: -12em;
    }

}

@media only screen and (min-width: 1149px){
    .nome{
        display: none;
    }

}

@media only screen and (max-width: 1110px){
    .nome{
        display: none;
    }
}

@media only screen and (max-width: 278px){
    .nome{
        display: none;
    }
    .fototext{
        display: none;
    }
    .comprar{
        display: none;
    }
}